<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<body style = "font-size:2em;" >

<div class = "ui  fixed inverted menu" >
    
    
    <a>
        <h3 class="header item">
            
            <i class="braille icon" style="font-size:2em;"></i>
            Blog</h3>
    </a>
    <a class= "item" href = "/">Home</a>
    <a class= "item" href = "/blog/new">New Post</a>
    <a class= "item" href = "/">career</a>
    
 

   
    
</div>
